<ion-header-bar class="bar-positive">
	<h1 class="title">Chat</h1>
</ion-header-bar>

<ion-view class="chats-view" style="padding-top:10px">
    <ion-content has-subheader="false" delegate-handle="chatScroll">
		<div class="chat-content">
			<div class="chat-msg-items">
				<div class="chat-item"
					ng-repeat="message in messages"
					>
					<!-- <div class="time">
						11: 20
					</div> -->
					<div class="user-info">
						<a href="javascript:;" class="avatar">
							<img src="img/unknown.png" width="100%" height="100%"/>
						</a>
						<p class="name">{{ message.sender_username }}</p>
					</div>
					<div class="msg-panel">
						<div class="msg-text">
							{{ message.content }}
						</div>
						<div class="triangle-arrow"></div>
						<div class="triangle-arrow2"></div>
					</div>
				</div>
			</div>
		</div>
  </ion-content>
	<ion-footer-bar keyboard-attach>
		<form name="chatForm">
			<div class="chat-input">
				<div class="input-area">
					<input type="text" ng-model="newMessage" placeholder="Type in your message..." required>
					<button class="send-msg-btn"
						ng-disabled="!chatForm.$valid"
						ng-click="sendMessage(newMessage)"> Send
					</button>
				</div>
			</div>
		</form>
	</ion-footer-bar>
</ion-view>