
<ion-view title="Hi Oriol, ready to Play?">
    <ion-header-bar class="bar-positive">
		<h1 class="title">Board Game</h1>
        <button class="button button-clear" ng-click="gameChat()">
            <i class="ion-chatboxes" style="font-size: 20px;"></i>
        </button>
    </ion-header-bar>
    
    <ion-content scroll="false" style="padding-top: 10px; padding-left:5px; padding-right:5px;">
        <ion-scroll zooming="true" overflow-scroll="false" direction="xy" style = "height: 67%" delegate-handle="myScroll" scroll="false">
            <div class = "scroll-container">
                <table id="table-board" class="boardgame" >
                    <tr ng-repeat="(i,squares) in board" on-finish-render="ngRepeatFinished">
                        <td id="cell-drop" class="square" ng-repeat="(j,square) in squares track by $index" ng-drop="true" ng-drop-success="onDropComplete1($data,$event,i,j)" ng-click="changeChipPosition($data,$event,i,j)"></td>
                    </tr>
                </table>
            </div>
        </ion-scroll>
        <div style="width: 100%; min-width:100%; display: block; margin-left: 40px; margin-right: auto;">
            <div style="background:rgba(78, 0, 0, 0.7); min-height:120px; min-width:290px; margin-bottom:-10px;" id="chips-div" class="section div-chips">
                    <div ng-repeat="obj in items">
                        <div class="square-chip " ng-drag="true" ng-drag-data="obj" data-allow-transform="false" on-drag="onDrag()" ng-drag-scroll  > 
                            <img ng-src="{{obj.imgLink}}" height="100%" width="100%"/>
                        </div>
                    </div>

            </div>
        </div>
    
            <div ng-class="{disabled:pager.currentPage === 1}" style="float: left; width: 10%;">
                <button class="button button-clear button-positive" ng-click="setPage(pager.currentPage - 1)">Previous</button>
            </div>
            <div ng-class="{disabled:pager.currentPage === pager.totalPages}" style="float: right;  width: 10%; margin-right:15px;">
                    <button class="button button-clear button-positive" ng-click="setPage(pager.currentPage + 1)">Next</button>
            </div>

        <div class="bar bar-footer bar-positive">
            <button class="button button-positive" ng-click="passMove()">Pass</button>
            <button class="button button-positive" ng-click="playMove()">Play!</button>
            <button class="button button-positive" ng-click="returnChipsToDock()">Return Chips</button>
        </div>
    </ion-content>
</ion-view>

