<ion-view title="Hi Oriol, ready to Play?">
    <ion-pane>
    <div class="bar bar-header">
        <div class="h1 title">Board Game</div>
    </div>
    <ion-content>
        <ion-scroll zooming = "true" direction = "xy" style = "height: 525px">
            <div class = "scroll-container">
                <table class="boardgame" >
                    <tr ng-repeat="squares in board">
                        <td class="square" ng-repeat="square in squares"></td>
                    </tr>
                </table>
            </div>
        </ion-scroll>
    </ion-content>

    <ion-footer-bar align-title="left" class="bar" style="height: 20%; border:1px solid black;">
        <div>
            <ion-scroll direction = "x" style = "width: 85%; border:1px solid black;">
                <div class="scroll-container" style="">
                    <div draggable="true" ng-drag="true" on-touch="stopIonicScroll()" on-release="startIonicScroll()" class="square-chip" style="border:1px solid black;">
                        <img src="img/ftx_blanc_01.png" width="100px" height="100px"/>

                    </div>
                    <div class="square-chip" style="border:1px solid black;"></div>
                    <div class="square-chip" style="border:1px solid black;"></div>
                </div>               
            </ion-scroll>
        </div>
    

        <div class="buttons" ng-click="doSomething()">
            <button class="button">Right Button</button>
        </div>
      </ion-footer-bar>
    </ion-pane>
</ion-view>

