<!--<div class="bar bar-header">
  <div class="h1 title">Header Buttons</div>
  <button class="button button-clear button-positive" ng-click="addGame()">
    <i class="ion-plus"></i>
  </button>
</div>-->

<ion-view>
    <ion-content class="has-header">
        <button class="button button-clear button-positive" ng-click="addGame()">Create new game!</button>
        <div>
            <ion-list class="list list-inset" show-delete="shouldShowDelete" style="width:80px">
                <div class="item item-divider">
                        Play now!
                </div>
                <!--<div ng-if="gamesToPlay.length == 0">
                    <div style="margin-left: 10px;">
                        <h5 style="margin-left: 10px;">Wait for other users to play, or start a new game! ;)</h5>
                    </div>
                    
                </div>-->
                <!--<div ng-if="gamesToPlay.length != 0">-->
                    <ion-item ng-repeat="game in gamesToPlay track by $index" ng-click="clickGame(game)">
                     
                    <h2>{{game.name}}</h2>
                    <h3>{{game.players[0]}} VS {{game.players[1]}}</h3>
                    <h3>{{game.gameState}}</h3>
                    
                      
                    </ion-item>
                <!--</div>-->

                
                <!--<div class="item item-divider">
                        Waiting for other players
                </div>
                <ion-item ng-repeat="game in gamesToWait track by $index" ng-click="clickGame(game)">
                     
                    <h2>{{game.name}}</h2>
                    <h3>{{game.players[0]}} VS {{game.players[1]}}</h3>
                    <h3>{{game.gameState}}</h3>
                    
                      
                </ion-item>-->
            </ion-list>
        </div>

    </ion-content>
</ion-view>