<ion-header-bar class="bar-stable">
		<h1 class="title">Welcome madafakka!!!!!</h1>
</ion-header-bar>

<ion-view view-title="Login" name="login-view">
	<ion-content class="padding" scroll="false" delegate-handle="myScroll">
		<div class="list list-inset">
			<label class="item item-input">
				<input type="text" placeholder="Username" value="a@a.com" ng-model="user.email">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Password" value="a" ng-model="user.password">
			</label>
		</div>
		<button class="button button-block button-calm" ng-click="login(user)">Login</button>
		<div class="list" style="text-align:center">
            <button ng-click="modal.show()" class="button button-small button-outline icon-left ion-person-add button-positive">
                Create New Account
            </button>
        </div>

	

           
<!--
JQUERY
            <div id="data-container"  class = "scroll-container div-chips" scroll="true"  horizontalScroll="true" verticalScroll="true">
                <div class="row" >
                    <div class="col " ng-repeat="obj in datasource1">
                        <div class="square-chip " ng-drag="true" ng-drag-data="obj" data-allow-transform="false" on-drag="onDrag()" ng-drag-scroll  > 
                            <img ng-src="{{obj.imgLink}}" height="100%" width="100%"/>
                        </div>
                    </div>
                </div>
            </div>

        <div id="pagination-container"></div>-->



        <!-- items being paged -->
            <!--<div ng-repeat="item in items">Item {{item.chipId}}</div>-->

            <!-- PAGER
                
                <div id="data-container"  class = "scroll-container div-chips" scroll="true"  horizontalScroll="true" verticalScroll="true">
                <div class="row" >
                    <div class="col " ng-repeat="obj in items">
                        <div class="square-chip " ng-drag="true" ng-drag-data="obj" data-allow-transform="false" on-drag="onDrag($data,$event)" ng-drag-scroll  > 
                            <img ng-src="{{obj.imgLink}}" height="100%" width="100%"/>
                        </div>
                    </div>
                </div>
            </div>
            
           
            <ul ng-if="pager.pages.length" class="pagination">
                <li ng-class="{disabled:pager.currentPage === 1}">
                    <a ng-click="setPage(1)">First</a>
                </li>
                <li ng-class="{disabled:pager.currentPage === 1}">
                    <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                    <a ng-click="setPage(page)">{{page}}</a>
                </li>                
                <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                    <a ng-click="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                    <a ng-click="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>

        <div id="cell-drop" class="square" ng-drop="true" ng-drop-success="onDropComplete1($data,$event,i,j)"></div>-->
	</ion-content>
</ion-view>
