

<ion-view view-title="Login" name="login-view">
	<ion-content class="padding" scroll="false" delegate-handle="myScroll">
		<div class="title-init">
			<img class="title-image" src="img/title.png"/>	
		</div>
		<div class="list list-inset">
			<label class="item item-input">
				<input type="text" placeholder="Username" value="a@a.com" ng-model="user.email">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Password" value="a" ng-model="user.password">
			</label>
		</div>
		<button class="button button-block button-calm" ng-click="login(user)">Login</button>
		<div class="list" style="text-align:center">
            <button ng-click="modal.show()" class="button button-small button-outline icon-left ion-person-add button-positive">
                 Create New Account
            </button>
        </div>
           

	</ion-content>
</ion-view>
